<?xml version="1.0" encoding="utf-8" ?>
<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">

  <typeAliases>
    <typeAlias alias="singleton" type="Microsoft.Practices.Unity.ContainerControlledLifetimeManager, Microsoft.Practices.Unity" />

    <typeAlias alias="ISettings" type="Core.ISettings, Core"/>
    <typeAlias alias="Settings" type="Core.Settings, Core"/>
    
    <typeAlias alias="IEventProvider" type="Core.IEventProvider, Core"/>
    <typeAlias alias="EventProvider" type="Core.EventProvider, Core" />
    
    <typeAlias alias="IEventValidator" type="Core.IEventValidator, Core" />
    <typeAlias alias="EventValidator" type="Core.EventValidator, Core" />
    
    <typeAlias alias="IPoolManager" type="Core.IPoolManager, Core" />
    <typeAlias alias="PoolManager" type="Core.PoolManager, Core" />
    
    <typeAlias alias="IHealthMonitor" type="Core.IHealthMonitor, Core" />
    <typeAlias alias="HealthMonitor" type="Core.HealthMonitor, Core" />
  </typeAliases>

  <containers>
    <container>
      <types>
        <type type="ISettings" mapTo="Settings">
          <lifetime type="singleton"/>
        </type>
        
        <type type="IEventProvider" mapTo="EventProvider" />
        <type type="IEventValidator" mapTo="EventValidator" />
        <type type="IPoolManager" mapTo="PoolManager" />
        <type type="IHealthMonitor" mapTo="HealthMonitor" />
      </types>
    </container>
  </containers>

</unity>